/* Common xs1, xs2 */
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-03 {
    padding: 100px 0;
  }
  .section-03 .c-wrapper-03 {
    display: flex;
  }
  .section-03 .c-wrapper-03 .a-column-01 {
    flex: 1;
    font-weight: 400;
    font-size: 144px;
    line-height: 173px;
    color: rgba(0, 0, 0, 0.1);
  }
  .section-03 .c-wrapper-03 .a-column-02 {
    width: 782px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .a-item-01 {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.022em;
    color: #000000;
  }
  .section-03 .c-wrapper-03 .a-column-02 .a-item-02 {
    margin-bottom: 80px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.017em;
    color: rgba(0, 0, 0, 0.8);
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-01 {
    background-color: #ffffff;
    width: 782px;
    height: 840px;
    margin-bottom: 40px;
    background: #FFFFFF;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-01 .b-column-01-A {
    padding-top: 40px;
    padding-left: 40px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-01 .b-column-01-B {
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 42px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-01 .a-item {
    display: flex;
    padding-left: 40px;
    padding-right: 57px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-01 .a-item .a-item-a {
    font-family: "Inter";
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    padding-top: 16px;
    padding-right: -16px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-01 .direk-1 {
    padding: 0 40px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-01 .b-item {
    display: flex;
    padding-left: 40px;
    padding-right: 57px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-01 .b-item .b-item-b {
    font-family: "Inter";
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    padding-top: 16px;
    padding-right: -16px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-01 .c-item {
    display: flex;
    padding-left: 40px;
    padding-right: 57px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-01 .c-item .c-item-c {
    font-family: "Inter";
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    padding-top: 16px;
    padding-right: -16px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-01 .d-item {
    display: flex;
    padding-left: 40px;
    padding-right: 57px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-01 .d-item .d-item-d {
    font-family: "Inter";
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    padding-top: 16px;
    padding-right: -16px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-01 .e-item {
    display: flex;
    padding-left: 40px;
    padding-right: 57px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-01 .e-item .e-item-e {
    font-family: "Inter";
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    padding-top: 16px;
    padding-right: -16px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-02 {
    width: 782px;
    height: 190px;
    display: flex;
    background-color: #ffffff;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-02 .a-item-c {
    width: 400px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-02 .a-item-c .a-item-c-01 {
    padding-top: 40px;
    padding-left: 40px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-02 .a-item-c .a-item-c-02 {
    font-family: "Inter";
    font-style: normal;
    font-size: 12px;
    line-height: 22px;
    padding-top: 15px;
    padding-right: 68px;
    padding-left: 40px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-02 .b-item-c {
    display: flex;
    width: 382px;
    padding: 64px;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-02 .b-item-c .b-item-c-A {
    width: 191px;
    display: inherit;
  }
  .section-03 .c-wrapper-03 .a-column-02 .b-column-02 .b-item-c .b-item-c-A .b-item-c-A-01 {
    padding-top: 10px;
  }
}/*# sourceMappingURL=Section03.css.map */